<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="BrandLink.Tests" ToolsVersion="15.0">
  <!--Inherit basic rules-->
  <Include Path="BrandLink.ruleset" Action="Default" />

  <!--Additional rules-->
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

    <!--XML comment analysis is disabled due to project configuration-->
    <Rule Id="SA0001" Action="None" />

    <!--Using directive should appear within a namespace declaration-->
    <Rule Id="SA1200" Action="None" />

    <!--Elements should be documented.-->
    <Rule Id="SA1600" Action="None" />

    <!--Partial elements should be documented.-->
    <Rule Id="SA1601" Action="None" />
  </Rules>

  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">

      <!--Missing XML comment for publicly visible type or member-->
    <Rule Id="CS1591" Action="None" />
  </Rules>
</RuleSet>
